
.buttons{
    grid-column: 1/-1;
    text-align: center;
}
.grid1{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.titulo{
    grid-column: 1/-1;
    justify-self: center;
}
.valida{
    border-radius: 4px;
    margin-left: 20px;
    width: 100px;    
    height: 40px;
}
.text{
    border-radius: 4px;
}
.number{
    border-radius: 4px;
    place-self: start end ;
    width: 100px;    
    height: 40px;
}

.descricao{
    text-align: center;
    grid-column: 1/-1;
    grid-row: 4;
}

#output{
    grid-column: 1/-1;
    border: 2px solid black;
    place-content: center;
}
/*  */

body{
    background-color: bisque;
    font-family: Arial;
}
h1{
    text-align: center;
}
p{
    grid-column: 1/-1;
    text-align: center;
}
